{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {{ block.super }} {% endblock %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Программирование<br>ОГЭ и ЕГЭ</h1>
      <a href="{% url 'courses' %}" class="btn-get-started">Записаться</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Направления обучения онлайн школы программирования <font color="#5263d1">PYSCHOOL</font></h3>
            <p class="fst-italic">

            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Программирование на <font color="#5263d1">Python</font> - базовый курс.</li>
              <li><i class="bi bi-check-circle"></i> Программирование на <font color="#5263d1">Python</font> - продвинутый курс.</li>
              <li><i class="bi bi-check-circle"></i> Создание <font color="#5263d1">Telegram ботов</font> на Python.</li>
              <li><i class="bi bi-check-circle"></i> Подготовка к  <font color="#5263d1">ОГЭ и ЕГЭ по информатике.</font></li>
            </ul>
            <p>
              По каждому из направлений предлагается курс с видео и текстовыми уроками, домашние задания и контрольные работы.
              Весь процесс обучения разбит на модули с точками контроля.
            </p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Почему PYSCHOOL?</h3>
              <p>
                Обучение через любознательность - это наша философия. <br>
                Практика- первична. Основной акцент в уроках на применении знаний, ребенок
                в конце каждого занятия получает опыт.
              </p>
              <div class="text-center">
                <a href="about.html" class="more-btn">История <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Теория</h4>
                    <p>Необходимый минимум для тех, кто хочет творить сейчас.
                      Объемные материалы для тех, кто хочет расширять границы!</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Практика</h4>
                    <p>Только творческие задания. Учим нестандартно мыслить, и не бояться ошибок.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Семинары</h4>
                    <p>Разбор всех вопросов и помощь с выполнение заданий на стримах.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Направления</h2>
          <p>Основные направления подготовки</p>
        </div>

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/events-1.jpg' %}" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Программирование на Python</a></h5>
                <p class="fst-italic text-center">Базовый и продвинутый курсы</p>
                <p class="card-text text-center">Базовый курс включает в себя изучение основ программирования на языке Python. Продвинутый курс включает в себя разработку прикладных приложений на языке Python.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/events-2.jpg' %}" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Подготовка к экзаменам</a></h5>
                <p class="fst-italic text-center">ЕГЭ и ОГЭ</p>
                <p class="card-text text-center">Разбор задач и методов их решения. Лайфхаки по сдачи КЕГЭ. Теоретический материал для изуения необходимого минимума в программировании. Типовые ошибки и их устранение.</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Events Section -->

    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Курсы</h2>
          <p>Популярные курсы</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          {% for course in courses %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="{{ course.photo.url }}" class="img-fluid" alt="{{ course.title }}">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Онлайн</h4>
                  <p class="price">₽ {{ course.price }}</p>
                </div>

                <h3><a href="{{ course.get_absolute_url }}">{{ course.title }}</a></h3>
                <p>{{ course.description|safe }}</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                    <span>{{ course.tutor }}</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;50
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;65
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Popular Courses Section -->

  </main><!-- End #main -->

{% endblock %}